.button-style {
    background-color: aqua;
    color: black;
    margin-left: 20px;
    height: 30px;
    box-sizing: border-box;
}

.input-style {
    width: 80%;
    max-width: 600px;
}

.generator {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;

    border: 3px solid #4093ff;
    border-radius: 10px;
    max-width: 650px;
    box-sizing: border-box;
}