.done {
    border: 1px solid #4093ff;
    border-radius: 2px;
    background-color: #dce6e6;


    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    border: 1px solid ;
    border-radius: 5px;

}

.done-item {
    cursor: pointer;
    margin-bottom: 8px;
    border: 1px solid #4093ff;
    border-radius: 8px;
    max-width: 600px;
    background-color: #5db2f3;
	

    padding: 10px;

    width: 90%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
	color: #4093ff;
}