.item-style {
    display: flex;
    border: 1px solid #4093ff;
    border-radius: 8px;
	background-color: #5db2f3;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%; 
    box-sizing: border-box;
    text-align: left; 
}

.item-text {
    width: 92%;
    color:#000000;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.item-done {
    text-decoration: line-through;
    display:inline-block;
    color:#bbc6e0
}

li {
    font-size: 18px;
    color: #000000;
    font-family: Arial, sans-serif;
  }



li:hover {
    background: #55aaff;
    cursor: pointer;
}

.item-delete {
    float: right;
    border: 0;
    margin-top: 6px;
    margin-right: 5px;
}
