.font-style {
    font-weight: 600;
    font-size: 30px;
	color: #4093ff;
}

.box {
    width: 100%;
    border: 1px solid;
    margin: auto;
    padding: 30px;
    background-color: #dce6e6;
    box-sizing: border-box;
}