.todo-list-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto; 
    padding: 20px;
    max-width: 600px; 

    border: 3px solid #4093ff;
    border-radius: 10px;
    
  }
  

  